*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/*.tgz
/.travis.yml

/test/fixtures/new
/test/fixtures/entity
/test/fixtures/new-with-entity
/test/fixtures/angular-new
/test/fixtures/nestjs-entity