<div bsModal #modal="bs-modal" class="modal fade <%=grid.name.kebab%>-modal" [ngClass]="class" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="ok()">
        <div class="modal-body">
<%for (var i=0; i<grid.table.fields.names.length; i++) {%>          <text-input [errors]="errors" [info]="info" name="<%=grid.table.fields.names[i]%>" [(model)]="item.<%=grid.table.fields.names[i]%>" [title]="modelMeta.titles.<%=grid.table.fields.names[i]%>" [readonly]="readonly" <%=(i==0)?'[focused]="true" #focusElement':''%>></text-input>
<%}%></div>
        <div class="modal-footer">
          <footer-buttons (onClose)="close()" (onOk)="ok()" [readonly]="readonly" [okTitle]="okTitle" [okInProcess]="okInProcess"></footer-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
