<div class="app-grid <%=grid.list.name.kebab%>-grid" *ngIf="account">
  <div class="app-grid__toolbar--header">
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" aria-label="Create" (click)="showCreateModal()" *ngIf="hardReadonly !== true && accessToAdd">
					<span class="fa fa-plus"></span> {{ 'Create' | translate }}
				</button>
      </div>
      <div class="col-md-9">
        <div class="pull-right">
          <grid-search-panel [(searchText)]="searchText" (onSearch)="search(true)"></grid-search-panel>
        </div>
      </div>
    </div>
  </div>
  <table class="app-grid__table table table-bordered table-hover">
    <thead>
      <tr>
        <th class="app-grid__table__col-<%=grid.table.pk.name%>">
          <table-column [title]="modelMeta.titles.<%=grid.table.pk.name%>" name="<%=grid.table.pk.name%>" [(columns)]="columns"></table-column>
        </th>
<%for (var i=0; i<grid.table.fields.names.length; i++) {%>        <th class="app-grid__table__col-<%=grid.table.fields.names[i]%>">
          <table-column [title]="modelMeta.titles.<%=grid.table.fields.names[i]%>" name="<%=grid.table.fields.names[i]%>" [(columns)]="columns"></table-column>
        </th>
<%}%>        <th class="app-grid__table__col-action" *ngIf="hardReadonly !== true && (accessToChange || accessToDelete)" translate>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="statusListMessage">
        <td class="app-grid__table__col-status-message" [attr.colspan]="<%=parseInt(grid.table.fields.names.length+2)-1%>+(hardReadonly !== true && (accessToChange || accessToDelete)?1:0)">
          {{statusListMessage | translate}}
        </td>
      </tr>
      <tr *ngFor="let item of items | slice:0:meta.perPage" (click)="selectItem(item, $event)" [ngClass]="{'info':isSelectedItem(item)}" (dblclick)="showEditModal(item)"
        [hidden]="statusListMessage">
        <td class="app-grid__table__col-<%=grid.table.pk.name%>">{{item.pk}}</td>
<%for (var i=0; i<grid.table.fields.names.length; i++) {%>        <td class="app-grid__table__col-<%=grid.table.fields.names[i]%>">{{item.<%=grid.table.fields.names[i]%>}}</td>
<%}%>          <td class="app-grid__table__col-action" *ngIf="hardReadonly !== true && (accessToChange || accessToDelete)">
          <grid-row-buttons (onEdit)="showEditModal(item)" (onRemove)="showRemoveModal(item)" [showEdit]="hardReadonly !== true && accessToChange"
            [showRemove]="hardReadonly !== true && accessToDelete"></grid-row-buttons>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="app-grid__toolbar--footer" [hidden]="statusListMessage">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="pull-right" *ngIf="meta.totalPages>1 || meta.totalResults>meta.perPage">
          <pagination [directionLinks]="false" (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [totalItems]="meta.totalResults"
            [rotate]="false" [maxSize]="5" [itemsPerPage]="meta.perPage" class="pagination-md pagination-compressed"
            firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
